/**
 * 组件样式
 * @author vimo
 * @date 2018-01-11
 *
 * --- function ----
 *
 * --- common ----
 *
 * --- component ----
 * #layouts 布局
 */
 
// #layouts 布局
@import 'layouts'
 
// #screen  筛选
@import 'screen'
 
// #dashboard 首页
@import 'dashboard'
