/**
 * 筛选样式
 * @author vimo
 * @date 2018-01-11
 *
 * --- function ----
 *
 * --- common ----
 *
 * --- component ----
 */
 
.v-screen
    position relative
    padding 5px 24px
    .el-input__inner
        height 30px
        margin-top 5px
    &-dropdown
        position absolute
        left 0
        right 0
        padding 16px 24px
        border-bottom 1px solid #e8e8e8
        background-color #fff
        z-index 9