/**
 * 项目总样式文件
 * @author vimo
 * @date 2018-01-11
 *
 * --- function ----
 *
 * --- common ----
 *
 * --- component ----
 * #业务公共变量
 * #组件样式
 * #第三方样式
 */

// 业务公共变量
@import 'var'
@import 'base'
@import 'common'

// 组件样式
@import 'vmui/index'

// 第三方样式
@import 'libs/index'
