@charset "UTF-8"
/**
 * var.styl 项目样式变量
 * @author vimo
 * @date 2018-01-11
 *
 * --- function ----
 *
 * --- common ----
 * #common 通用
 *
 * --- component ----
 */

/* #common 通用 */
// font 文字  "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
font_family = "微软雅黑", "萍方", Arial, San Francisco
font_size = 14px
font_h1 = 28px
font_h2 = 24px
font_h3 = 18px
font_h4 = 16px
font_h5 = 14px
font_h6 = 12px
font_size_min = 12px
font_lineHeight = 1.5em
font_areaHeight = 2em

// color 颜色
color_primary = #2d8cf0             // 主色调
color_lightPrimary = #5cadff        // hover
color_darkPrimary = #2b85e4         // active

color_info = #2d8cf0                // 副色调
color_success = #19be6b             // 成功
color_warning = #ff9900             // 警告
color_error = #ed3f14               // 失败

color_title = #1c2438               // 标题
color_content = #495060             // 正文
color_subColor = #80848f            // 辅助/图标
color_disabled = #bbbec4            // 失效
color_border = #dddee1              // 边框
color_divider = #e9eaec             // 分割线
color_background = #f8f8f9          // 背景

// common 实例
common_none = none
common_fontFamily = font_family
common_fontSize = font_size
common_fontLineHeight = font_lineHeight
common_color = #333
common_body_background = color_background

/* #layout 组件 */
layout_head_bg = linear-gradient(left, #005293, #4395cf)
layout_aside_bg = #00355e

/* #component 组件 */
// #menu 
common_menu_bg_color = #005293
common_menuItem_bg_color = #005293
common_menuItem_font_color = #9bd7fc
common_menuItem_active_bg_color = #4395cf
common_menuItem_active_border_color = #fcb814
common_menuItem_active_font_color = #fff